In [1]:
# IMPORTING NECESSARY LIBRARIES
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [2]:
# IMPORTING DATASET
data = pd.read_csv('creditcard.csv')

In [3]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
# CHECKING NULL VALUES
data.isnull().sum().sum()

0

In [5]:
# SHAPE OF DATA
data.shape

(284807, 31)

In [6]:
# CHECKING DUPLICATE DATA
data[data.duplicated()]

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
33,26.0,-0.529912,0.873892,1.347247,0.145457,0.414209,0.100223,0.711206,0.176066,-0.286717,...,0.046949,0.208105,-0.185548,0.001031,0.098816,-0.552904,-0.073288,0.023307,6.14,0
35,26.0,-0.535388,0.865268,1.351076,0.147575,0.433680,0.086983,0.693039,0.179742,-0.285642,...,0.049526,0.206537,-0.187108,0.000753,0.098117,-0.553471,-0.078306,0.025427,1.77,0
113,74.0,1.038370,0.127486,0.184456,1.109950,0.441699,0.945283,-0.036715,0.350995,0.118950,...,0.102520,0.605089,0.023092,-0.626463,0.479120,-0.166937,0.081247,0.001192,1.18,0
114,74.0,1.038370,0.127486,0.184456,1.109950,0.441699,0.945283,-0.036715,0.350995,0.118950,...,0.102520,0.605089,0.023092,-0.626463,0.479120,-0.166937,0.081247,0.001192,1.18,0
115,74.0,1.038370,0.127486,0.184456,1.109950,0.441699,0.945283,-0.036715,0.350995,0.118950,...,0.102520,0.605089,0.023092,-0.626463,0.479120,-0.166937,0.081247,0.001192,1.18,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282987,171288.0,1.912550,-0.455240,-1.750654,0.454324,2.089130,4.160019,-0.881302,1.081750,1.022928,...,-0.524067,-1.337510,0.473943,0.616683,-0.283548,-1.084843,0.073133,-0.036020,11.99,0
283483,171627.0,-1.464380,1.368119,0.815992,-0.601282,-0.689115,-0.487154,-0.303778,0.884953,0.054065,...,0.287217,0.947825,-0.218773,0.082926,0.044127,0.639270,0.213565,0.119251,6.82,0
283485,171627.0,-1.457978,1.378203,0.811515,-0.603760,-0.711883,-0.471672,-0.282535,0.880654,0.052808,...,0.284205,0.949659,-0.216949,0.083250,0.044944,0.639933,0.219432,0.116772,11.93,0
284191,172233.0,-2.667936,3.160505,-3.355984,1.007845,-0.377397,-0.109730,-0.667233,2.309700,-1.639306,...,0.391483,0.266536,-0.079853,-0.096395,0.086719,-0.451128,-1.183743,-0.222200,55.66,0
284193,172233.0,-2.691642,3.123168,-3.339407,1.017018,-0.293095,-0.167054,-0.745886,2.325616,-1.634651,...,0.402639,0.259746,-0.086606,-0.097597,0.083693,-0.453584,-1.205466,-0.213020,36.74,0

In [7]:
# DROPING DUPLICATE DATA
data.drop_duplicates(inplace=True)

In [8]:
# SHAPE OF DATA AFTER DROPING DUPLICATE VALUES
data.shape

(283726, 31)

In [9]:
# STATISTICAL ANALYSIS
data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,...,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000
mean,94811.077600,0.005917,-0.004135,0.001613,-0.002966,0.001828,-0.001139,0.001801,-0.000854,-0.001596,...,-0.000371,-0.000015,0.000198,0.000214,-0.000232,0.000149,0.001763,0.000547,88.472687,0.001667
std,47481.047891,1.948026,1.646703,1.508682,1.414184,1.377008,1.331931,1.227664,1.179054,1.095492,...,0.723909,0.724550,0.623702,0.605627,0.521220,0.482053,0.395744,0.328027,250.399437,0.040796
min,0.000000,-56.407510,-72.715728,-48.325589,-5.683171,-113.743307,-26.160506,-43.557242,-73.216718,-13.434066,...,-34.830382,-10.933144,-44.807735,-2.836627,-10.295397,-2.604551,-22.565679,-15.430084,0.000000,0.000000
25%,54204.750000,-0.915951,-0.600321,-0.889682,-0.850134,-0.689830,-0.769031,-0.552509,-0.208828,-0.644221,...,-0.228305,-0.542700,-0.161703,-0.354453,-0.317485,-0.326763,-0.070641,-0.052818,5.600000,0.000000
50%,84692.500000,0.020384,0.063949,0.179963,-0.022248,-0.053468,-0.275168,0.040859,0.021898,-0.052596,...,-0.029441,0.006675,-0.011159,0.041016,0.016278,-0.052172,0.001479,0.011288,22.000000,0.000000
75%,139298.000000,1.316068,0.800283,1.026960,0.739647,0.612218,0.396792,0.570474,0.325704,0.595977,...,0.186194,0.528245,0.147748,0.439738,0.350667,0.240261,0.091208,0.078276,77.510000,0.000000
max,172792.000000,2.454930,22.057729,9.382558,16.875344,34.801666,73.301626,120.589494,20.007208,15.594995,...,27.202839,10.503090,22.528412,4.584549,7.519589,3.517346,31.612198,33.847808,25691.160000,1.000000

In [10]:
# NUMBER OF FRAUD AND LEGIT TRANSACTIONS
data.Class.value_counts()

0    283253
1       473
Name: Class, dtype: int64

In [11]:
# DATA PREPROCESSING
data['Class'] = data['Class'].replace(to_replace=[0,1],value=['Legit','Fraud'])

In [12]:
data.Class.value_counts()

Legit    283253
Fraud       473
Name: Class, dtype: int64

In [13]:
Legit = data[data['Class']=='Legit']
Fraud = data[data['Class']=='Fraud']

In [14]:
print(Legit.shape)
print(Fraud.shape)

(283253, 31)
(473, 31)

In [15]:
# REDUCING UNBALANCED DATA TO EQUAL 
Legit_1 = Legit.sample(473,random_state=4)

In [16]:
new_data = pd.concat([Legit_1,Fraud],axis=0,ignore_index=True)

In [17]:
new_data.Class.value_counts()

Legit    473
Fraud    473
Name: Class, dtype: int64

In [18]:
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
Fraud,80450.513742,-4.498280,3.405965,-6.729599,4.472591,-2.957197,-1.432518,-5.175912,0.953255,-2.522124,...,0.405043,0.46655,0.086639,-0.096464,-0.106643,0.040615,0.050456,0.213774,0.078270,123.871860
Legit,94835.058093,0.013439,-0.009829,0.012853,-0.010440,0.006769,0.001251,0.010447,-0.002448,0.002613,...,-0.000489,-0.00115,-0.000160,0.000360,0.000393,-0.000301,0.000065,0.001409,0.000418,88.413575

In [19]:
new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
Fraud,80450.513742,-4.498280,3.405965,-6.729599,4.472591,-2.957197,-1.432518,-5.175912,0.953255,-2.522124,...,0.405043,0.466550,0.086639,-0.096464,-0.106643,0.040615,0.050456,0.213774,0.078270,123.871860
Legit,92375.864693,0.115377,0.028837,-0.075327,0.032068,0.030810,0.148639,-0.015255,0.058254,-0.053537,...,0.001811,-0.022211,-0.022835,0.000577,0.034494,-0.015552,0.002787,0.021373,0.003568,81.309218

In [20]:
# SEPARATING FEATURES AND TARGET VARIABLES
X = new_data.drop(columns='Class')
Y = new_data['Class']

In [21]:
# SPLITTING DATA TO TRAIN AND TEST
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=.25,random_state=1)

In [22]:
# ML MODEL FITTING MODEL WITH TRAIN DATA
LR = LogisticRegression()
LR_model = LR.fit(x_train,y_train)

In [23]:
# MODEL PREDICTION
y_train_pred = LR_model.predict(x_train)
y_test_pred = LR_model.predict(x_test)

In [24]:
# MODEL ACCURACY
print(f'Model accuracy on Training data: {round(accuracy_score(y_train,y_train_pred)*100,2)}%')
print(f'Model accuracy on Test data: {round(accuracy_score(y_test,y_test_pred)*100,2)}%')

Model accuracy on Training data: 93.37%
Model accuracy on Test data: 92.41%

In [25]:
# MODEL EVALUATION
Fraud_list = list(Y[Y=='Fraud'].index)
Legit_list = list(Y[Y=='Legit'].index)
Predicted_Fraud = []
Predicted_Legit = []

In [26]:
for i in Fraud_list:
    Fr = X.iloc[i].values.reshape(1,-1)
    Fr_ = LR_model.predict(Fr)
    Predicted_Fraud.append(Fr_)
for j in Legit_list:
    Le = X.iloc[j].values.reshape(1,-1)
    Le_ = LR_model.predict(Le)
    Predicted_Legit.append(Le_)

In [27]:
Fraud = pd.Series(Predicted_Fraud)
Legit = pd.Series(Predicted_Legit)

In [28]:
print(f'Out of {len(Fraud_list)} FRAUD TRANSACTION DATA Logistic Regression Model Predicted')
print(Fraud.value_counts().to_string())

Out of 473 FRAUD TRANSACTION DATA Logistic Regression Model Predicted
[Fraud]    433
[Legit]     40

In [29]:
print(f'Out of {len(Legit_list)} LEGIT TRANSACTION DATA Logistic Regression Model Predicted')
print(Legit.value_counts().to_string())

Out of 473 LEGIT TRANSACTION DATA Logistic Regression Model Predicted
[Legit]    448
[Fraud]     25